<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.text_field :username, :placeholder => User.human_attribute_name(:username) %></div>
  
  <div><%= f.text_field :email, :placeholder => User.human_attribute_name(:email) %></div>

  <div><%= f.password_field :password, :placeholder => User.human_attribute_name(:password) %></div>

  <div><%= f.password_field :password_confirmation, :placeholder => User.human_attribute_name(:password_confirmation) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
