<%= form_for(@token) do |f| %>
  <% if @token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% @token.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Describe your token, so you know what it's for.</p>
  <p>URL is optional, but might help you remember where you put this token ;)</p>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, :length => 60 %>
  </div>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
